In [8]:
import pandas as pd
import numpy as np

In [4]:
#Question 1 
item_price  = [254.00, 180.50,  52.15]
item_description =["Lovely Loveseat. Tufted polyester blend on wood. 32 inches high x 40 inches wide x 30 inches deep. Red or white.","Stylish Settee. Faux leather on birch. 29.50 inches high x 54.75 inches wide x 28 inches deep. Black.","Luxurious Lamp. Glass and iron. 36 inches tall. Brown with cream shade."] 

sales_tax = 0.088
customer_one_total = 0 
customer_one_itemization = []

customer_one_total += item_price[0]
customer_one_itemization += [item_description[0]]

customer_one_total += item_price[2]
customer_one_itemization += [item_description[2]]

customer_one_tax = customer_one_total * sales_tax
customer_one_total += customer_one_tax

print("Customer One Items:")
print(customer_one_itemization)

print("Customer One Total:")
print(customer_one_total)

Customer One Items:
['Lovely Loveseat. Tufted polyester blend on wood. 32 inches high x 40 inches wide x 30 inches deep. Red or white.', 'Luxurious Lamp. Glass and iron. 36 inches tall. Brown with cream shade.']
Customer One Total:
333.09119999999996

In [ ]:
#Qusetion2
subjects = ["physics","calculus","poetry","history"]
grades = [98,97,85,88]

gradebook = [[subject, grade] for subject, grade in zip(subjects, grades)]
gradebook.append(["computer science",100])
gradebook.append(["visual arts",93])

for item in gradebook:
    if item[0] == "visual arts":
        item[1] += 5

gradebook.remove(["poetry",85])
gradebook.append(["poetry","pass"])
gradebook

[['physics', 98],
 ['calculus', 97],
 ['history', 88],
 ['computer science', 100],
 ['visual arts', 98],
 ['poetry', 'pass']]

In [ ]:
#Qusetion3
hairstyles = ["bouffant", "pixie", "dreadlocks", "crew", "bowl", "bob", "mohawk", "flattop"]
prices = [30, 25, 40, 20, 20, 35, 50, 35]
last_week = [2, 3, 5, 8, 4, 4, 6, 2]
total_price = 0 
total_revenue = 0


for i in range(len(hairstyles)):
  total_revenue = prices[i]*last_week[i]

[25, 20, 35, 15, 15, 30, 45, 30]

In [ ]:
#Question3
for i in range(len(prices)):
  total_price += prices[i] 

avr_price = total_price/len(prices)
avr_price

63.75

In [37]:
#Question3
new_prices = [i - 5 for i in prices] 
new_prices

[25, 20, 35, 15, 15, 30, 45, 30]

In [41]:
#Question3
for i in range(len(hairstyles)):
  total_revenue += prices[i]*last_week[i]

total_revenue

1155

In [43]:
#Question3
average_daily_revenue = total_revenue / 7
average_daily_revenue

165.0

In [46]:
#Question3
cut_under_30 = [hairstyles[i] for i in range(len(new_prices)) if new_prices[i] < 30]
cut_under_30

['bouffant', 'pixie', 'crew', 'bowl']

In [31]:
#Question 4

month = ['쌍','쇠','복','돌','팽','육','쌍','개','칠','갑','상','방']
day = ['봉', '구', '욕', '포', '똥', '삼', '식', '석', '놈', '님', '년', '돌', '단', '득', '방', '질', '장', '걸', '래', '룡', '동', '순', '자', '박', '창', '언', '것', '포', '만', '단', '국']


def get_my_chosun_name(family_name, month_name, day_name):
  month_name = month[month_name-1]
  day_name = day[day_name-1]

  print("당신의 조선시대 이름은 "+family_name+month_name+day_name+" 입니다.")


get_my_chosun_name('차',12,5)

당신의 조선시대 이름은 차방똥 입니다.